name: Deploy Angular to VPS (Apache)

on:
  push:
    branches: ["main"]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - run: npm install
      - run: npm run build -- --configuration production

      # DEBUG: Listar para ver si se crea la carpeta 'browser'
      - name: Debug folder structure
        run: ls -R dist

      # Crear .htaccess en la ruta correcta
      - name: Create .htaccess
        run: |
          cat > dist/series-pruebafebpvsl/browser/.htaccess <<EOF
          RewriteEngine On
          RewriteBase /
          RewriteRule ^index\.html$ - [L]
          RewriteCond %{REQUEST_FILENAME} !-f
          RewriteCond %{REQUEST_FILENAME} !-d
          RewriteRule . /index.html [L]
          EOF

      # Desplegar
      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete
          path: dist/series-pruebafebpvsl/browser/
          remote_path: ${{ secrets.VPS_PATH }}
          remote_host: ${{ secrets.VPS_HOST }}
          remote_user: ${{ secrets.VPS_USER }}
          remote_key: ${{ secrets.VPS_SSH_KEY }}
